* {
    margin: 0;
    padding: 0;
    text-decoration: none;
  }
  
  body {
    padding: 60px;
    background-image: radial-gradient(circle, #051937, #0c152b, #0d1020, #0a0a15, #040405);    font-family: Helvetica, Arial, sans-serif;
color: #5FECBE;
  }
  
  input {
    background-color: white;
    border-radius: 5px;
    border: 1px solid #5FECBE;
    color: rgb(201, 11, 235);
    font-size: 1.2rem;
    outline: none;
    padding: 10px 15px;
    width: 100%;
  }
  
  h2 {
    font-size: 1.5rem;
  }
  
  h3 {
    font-size: 3rem;

    margin-bottom: 5px;
  }
  
  .card-grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .card {
    align-content: center;
    align-items: center;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 3px 5px rgba(232, 226, 226, 0.03);
    display: flex;
    flex-direction: column;
    width: 300px; 
    justify-content: center;
    margin-bottom: 20px;
    margin-right: 20px;
    overflow: hidden;
  }
  
  .card p {
    background-color: white;
    flex: 1;
    font-size: 1.5rem;
    margin-top: 5px;
    padding: 5px 20px 0px 20px;
    text-align: center;
  }
  
  .card img {
    width: 100%;
  }


  .btn{
    padding: 1rem 2rem;
    border-radius: 10px;
    background-color: 5FECBE;
    background-color: #5FECBE;
    color: #040405;
    cursor: pointer;
    font-size: 25px;
    font-weight: 400;
    margin: 1rem;
  }